# Instance Variable

# Each object has its own value

In [8]:
class Student:

    def __init__(self,name,age):

        self.name=name
        self.age=age


# create objects

obj_1 = Student("Malav",28)

obj_2 = Student("Maya",39)

print(obj_1.name,obj_1.age)

print("\n")

print(obj_2.name,obj_2.age)

Malav 28


Maya 39

# Change Instance (Object) variable for one object

In [9]:
class Student:

    def __init__(self,name,age):

        self.name=name
        self.age=age


# create objects

obj_1 = Student("Malav",28)

obj_2 = Student("Maya",39)

print(obj_1.name,obj_1.age)

print("\n")

obj_1.name="Mrugesh"
obj_1.age=41

print(obj_1.name,obj_1.age)

print("\n")

print(obj_2.name,obj_2.age)

Malav 28


Mrugesh 41


Maya 39

# Object Variable and Class Variable

In [10]:
class Student:

    school = "SGVP School" # Class Variable

    def __init__(self,name):


        self.name=name # Object Variable


student_1=Student("Malav")

student_2=Student("Maya")

print(student_1.name,student_1.school)

print("\n")

print(student_2.name,student_2.school)

# Change the class Variable both object will see change.

# if we change student_1.name then only student_1 will be changed.

Student.school = 'Nirma School'

print("\n")

print(student_1.name,student_1.school)

print("\n")

print(student_2.name,student_2.school)

Malav SGVP School


Maya SGVP School


Malav Nirma School


Maya Nirma School

# Where they are stored in a Memory ??

## Object variable's are stored in object's __dict__

In [11]:
print(student_1.__dict__)

{'name': 'Malav'}

# Adding new Object variable after Object creation

In [12]:
student_1.age=29

print(student_1.__dict__)

{'name': 'Malav', 'age': 29}

# Memory Address

In [13]:
print(id(student_1),"  ",id(student_2))

print("\n")

print(student_1.__dict__,student_2.__dict__)

135621320537056    135621320534032


{'name': 'Malav', 'age': 29} {'name': 'Maya'}

# Class Variable

## A variable whose value is shared among all objects of the class.

## Unlike Instance variables which are unique to each object,
## Class variables are shared with all objects.

In [14]:
class area_of_circle:

    pi = 3.14159  # Class Variable shared by all objects

    def __init__(self,radius):

        self.radius=radius # Object Variable

    def area(self):
        return self.pi*(self.radius**2)

# create object

area_1=area_of_circle(10)
print("Area 1: - ", area_1.area())

print("\n")

area_2=area_of_circle(5)
print("Area 2: - ", area_2.area())

# changing in class variable will affect all objects
print("\n")

area_of_circle.pi=3.14
print("Area 1: -",area_1.area())

Area 1: -  314.159


Area 2: -  78.53975


Area 1: - 314.0

In [15]:
# Count how many objects has been created

class counter:

    count=0

    def __init__(self):
        counter.count+=1

obj1=counter()
obj2=counter()
obj3=counter()

print(counter.count)

3

# Count Number of Employees

In [17]:
class Employee:

    company = "Techcorp"  # Class Variable

    total_employees = 0

    def __init__(self,name):

        self.name = name

        Employee.total_employees +=1

# Create Objects

emp1 = Employee("Mrugesh")

emp2 = Employee("Malav")

emp3 = Employee("Maya")

# Print object variables

print(emp1.name," ",emp1.company)

print("\n")

print(emp2.name," ",emp2.company)

print("\n")

print(emp3.name," ",emp3.company)

print("\n")

print("Total No. of Employees :-",Employee.total_employees)

Mrugesh   Techcorp


Malav   Techcorp


Maya   Techcorp


Total No. of Employees :- 3

# Discount Price

In [18]:
class Product:

    discount = 0.10 # Class variable

    def __init__(self,name,price):

        self.name = name
        self.price = price # object variables

    def final_price(self):
        return self.price*(1-Product.discount)

prod1 = Product("Laptop",75000)

prod2 = Product("Phone",45000)

print("Final Price of Laptop :- ",prod1.final_price())

print("\n")

print("Final Price of Phone :- ",prod2.final_price())

Final Price of Laptop :-  67500.0


Final Price of Phone :-  40500.0